.dialog.MuiDialog-root .MuiDialog-container {
  align-items: flex-end;
}

.dialog .MuiPaper-root.MuiDialog-paper {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.dialog-item {
  margin-bottom: 10px;
}
