.records-dialog.MuiDialog-root .MuiDialog-container {
  align-items: flex-end;
  background-color: rgba(247, 247, 249, 0.2);
}

.records-dialog .MuiPaper-root.MuiDialog-paper {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.records-dialog-item {
  margin-bottom: 10px;
}
