.title {
  /* All books (72) */

  position: absolute;
  left: 5.56%;
  right: 60.32%;
  top: 72.91%;
  bottom: 24.64%;

  /* Subheading/Medium-16 */

  font-family: "Neue Haas Unica W1G";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* black */

  color: #000000;
}
