@font-face {
  font-family: "Neue Haas Unica W1G";
  src: local("Neue Haas Unica W1G"),
    url("../../../fonts/NeueHaasUnicaW1G-Bold_0.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Haas Unica W1G";
  src: local("Neue Haas Unica W1G"),
    url("../../../fonts/NeueHaasUnicaW1G-Regular_0.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Unica W1G Light";
  src: local("Neue Haas Unica W1G"),
    url("../../../fonts/NeueHaasUnicaW1G-Light_0.ttf") format("truetype");
  font-weight: 400;
}

.title {
  /* All books (72) */
  /*position: absolute;*/
  position: relative;
  width: 100%;
  font-family: "Neue Haas Unica W1G";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
