.review-section .title .MuiTypography-root {
  font-weight: 300px;
}

.review-section > div > .separator-line {
  margin: 1.1em 0;
}

.review-section-message.MuiTypography-root {
  margin-top: 1em;
  font-weight: 300;
  font-size: 14px;
}
