.separatorLine {
  /* Rectangle 15 */

  /*position: absolute;*/
  position: relative;
  width: 88.88%;
  /*left: calc(50% - 1344px / 2);
  top: 75.67%;*/
  bottom: 0%;
  height: 1px;
  border: 0;
  margin-top: 2px;
  /* g-gray/300 */
  background: #cccccc;
  /* transform: matrix(1, 0, 0, -1, 0, 0);

  /* Inside auto layout */
  /*left: 5.56%*/
}

.main-container {
  padding-left: 5.56%;
  padding-right: 5.56%;
}
