.MuiTypography-root.book-review-field-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 1.5em;
}

.book-review-field {
  margin-top: 0.7em;
}

.book-review-checkbox-field.MuiFormControlLabel-root {
  margin-left: 0;
}

.MuiButtonBase-root.MuiCheckbox-root.Mui-checked {
  color: #266095;
}

.field-container {
  height: auto;
}

.book-review-form-footer {
  width: 100%;
  direction: rtl;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  .book-review-form-footer {
    z-index: 1298;
    background-color: #f7f7f9;
    padding: 0 3em 0 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    height: 8em;
    width: 100%;
  }

  .field-container {
    position: relative;
  }
}
