.navbar {
  height: 64px;
}

.MuiPaper-root.MuiAppBar-root {
  position: sticky;
  background-color: white;
  z-index: 1299;
  box-shadow: 0px 1px 4px rgba(59, 59, 59, 0.1);
}

.navbar-div {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 5.56%;
}

.navbar-info {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.logo {
  height: 32px;
  margin: 16px 32px 16px 0;
}

.navbar-text {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.navbar-company p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.navbar-title p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.navbar-search {
  min-width: 30%;
  max-height: 40px;
  display: flex;
  align-self: center;
}

.MuiAutocomplete-root {
  flex: 1;
}

.navbar-search > div > div > div > input:hover {
  border: 0;
}

.MuiInputBase-input.MuiOutlinedInput-input {
  border: 0;
}

.MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  flex: 1;
  position: absolute;
  font-family: Roboto, sans-serif;
}

.MuiInputBase-root.MuiOutlinedInput-root {
  height: 40px;
  padding: 8px, 12px, 8px, 16px;
  background-color: #f7f7f9;
  border-radius: 8px;
  position: relative;
  font-size: 14px;
}

.navbar-search
  .MuiAutocomplete-root
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-input {
  min-width: 85%;
}

.navbar-search
  .MuiAutocomplete-root
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-endAdornment {
  position: absolute;
  height: 40px;
  top: 0;
  bottom: 0;
}

.MuiInputBase-root.MuiOutlinedInput-root:hover {
  background-color: #eeeeee;
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused {
  background-color: #f7f7f9;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MuiInputBase-root.MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid #00609a;
  box-shadow: 0px 0px 0px 2px #cce0f2;
}

.MuiPopper-root .MuiAutocomplete-popper > div {
  margin: 30px;
  background: #ffffff;
  padding: 16px, 0px, 16px, 0px;
  box-shadow: 0px 1px 4px rgba(59, 59, 59, 0.1);
  border-radius: 8px;
}

.MuiPaper-root.MuiAutocomplete-paper {
  max-height: 298px;
  margin-top: 8px;
  background: #ffffff;
  padding: 16px, 0px, 16px, 0px;
  box-shadow: 0px 1px 4px rgba(59, 59, 59, 0.1);
  border-radius: 8px;
}

.MuiListSubheader-root.MuiAutocomplete-groupLabel {
  font-weight: 300;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}

.MuiAutocomplete-option {
  font-size: 14px;
}

.MuiAutocomplete-listbox {
  padding: 0;
}

.MuiAutocomplete-listbox li {
  margin-bottom: 4px;
}

.search-item {
  padding: 6px 16px;
}

.search-item:hover {
  background-color: #f7f7f9;
  cursor: pointer;
}

.search-item p {
  margin-bottom: 2px;
}

.account-avatar {
  align-self: center;
}
