.navbar {
  height: 64px;
}

.MuiPaper-root.MuiAppBar-root {
  position: sticky;
  background-color: white;
  z-index: 1299;
  box-shadow: 0px 1px 4px rgba(59, 59, 59, 0.1);
}

.navbar-div {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 5.56%;
}

.navbar-info {
  user-select: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.logo {
  height: 32px;
  margin: 16px 32px 16px 0;
}

.navbar-text {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.navbar-company p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.navbar-title p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.account-avatar {
  align-self: center;
}
