@font-face {
  font-family: "Neue Haas Unica W1G";
  src: local("Neue Haas Unica W1G"),
    url("./fonts/NeueHaasUnicaW1G-Regular_0.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Neue Haas Unica W1G Light";
  src: local("Neue Haas Unica W1G"),
    url("./fonts/NeueHaasUnicaW1G-Light_0.ttf") format("truetype");
  font-weight: 400;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div.container {
  padding: 20px;
}

.navbar {
  height: 64px;
  top: 0 !important;
  position: sticky !important;
  background-color: white !important;
}

.navbar-div {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 84px;
}

.navbar-info {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 32px;
  margin: 16px 32px 16px 0;
}

.navbar-text {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.navbar-company {
  font-family: "Neue Haas Unica W1G";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.navbar-title {
  font-family: "Neue Haas Unica W1G Light";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.main-div {
  padding-top: 0;
}
