.main-container {
  margin-top: 0.6%;
  padding-left: 5.56%;
  padding-right: 5.56%;
}

.add-book-form-wrapper {
  background-color: #000000;
  position: fixed;
  z-index: 1300;
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 800px) {
  .add-book-form-wrapper {
    display: none;
  }
}